/* Explain this function in simple terms: */
html {
  font-size: 62.5%;
}
body {
  font-family: 'Open Sans', sans-serif;
  background-image: url(./assets/clock.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clock-container {
}
.digital-clock {
  font-size: 4rem;
  text-shadow: 0 0 10px lightgray;
}
