/* Explain this function in simple terms: */
html {
  font-size: 62.5%;
}
body {
  font-family: 'Open Sans', sans-serif;
}
.color {
  text-align: center;
}
.color__display {
  border: 2px solid rgb(255, 255, 255);
  border-radius: 10px;
  height: 10rem;
  margin: 1.5rem 0;
}
.color__selected {
  border: 1px solid #666;
  border-radius: 10px;
  padding: 1rem;
}
.color__picker:hover {
  cursor: pointer;
}
